@(initData: String)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0" >
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <script src="@routes.Assets.versioned("style.css")"></script>
        <title>Home list</title>
    </head>

    <body>
        <div id="screens"></div>

        <script id="init_data" data-value="@initData"></script>
        <script src="@routes.Assets.versioned("main.js")"></script>
    </body>

</html>
